In [1]:
text = 'Pembangunan ekonomi tahun 2023 akan dilaksanakan untuk mendukung proses transformasi ekonomi setelah pada tahun sebelumnya dihadapkan pada pemulihan ekonomi dan penanganan pandemi COVID-19. Tahun 2023 merupakan momentum untuk menciptakan horizon baru pembangunan dengan menekankan pada strategi mewujudkan SDM berdaya saing, produktivitas sektor ekonomi, ekonomi hijau, transformasi digital, integrasi perekonomian domestik, dan pemindahan IKN. Proses transformasi ekonomi yang dilaksanakan oleh sektor energi, sumber daya air, UMKM, pariwisata, pertanian, industri, perdagangan, keuangan, dan sektor lainnya akan menghadapi tantangan yang membutuhkan kebijakan dan strategi untuk dapat mencapai sasaran pembangunan nasional. Untuk mendukung pemenuhan kebutuhan energi dengan mengutamakan peningkatan Energi Baru Terbarukan (EBT), tantangan yang dihadapi terkait fokus produktivitas adalah tingginya ketergantungan terhadap energi fosil yang produktivitasnya semakin menurun dan berkontribusi terhadap defisit perdagangan dan nilai transaksi berjalan yang turut menurunkan potensi pertumbuhan ekonomi nasional. Tantangan yang terkait fokus pembangunan berkelanjutan adalah (1) pengembangan EBT masih terkendala dengan belum kompetitifnya harga jual dan (2) pengembangan EBT berbasis kelapa sawit masih bersinggungan dengan isu konservasi dan keberlanjutan. Adapun tantangan yang terkait fokus inklusif yaitu (1) kebijakan subsidi dan insentif yang belum optimal, (2) kondisi kelistrikan yang over-supply di beberapa daerah sementara akses masyarakat daerah tertinggal pada energi khususnya EBT skala kecil masih sangat terbatas dengan adanya keterbatasan kewenangan pemerintah daerah, dan (3) faktor intermittence dari beberapa teknologi Pembangkit Listrik Teknologi (PLT) EBT. Indikator target sasaran prioritas nasional rencana kerja pemerintah rkp rpjmn rencana pembangunan jangka menengah'

In [6]:
from biotagging import text_to_tagDF

tagready_df = text_to_tagDF(pd.Series([text]))

ImportError: cannot import name 'convertToSpacy' from 'biotagging' (c:\Kuliah\Magang\linked-data-nlp\biotagging.py)

In [10]:
tagready_df

         token_1 BIO_tag_1
0    Pembangunan
1                        O
2        ekonomi
3                        O
4          tahun
..           ...       ...
496  pembangunan
497                      O
498       jangka
499                      O
500     menengah

[501 rows x 2 columns]

In [7]:
link_for_save = "text_tagged.csv"
tagready_df.to_csv(link_for_save , index=False)

In [1]:
from convert import convert_to_spaCyformat
import pandas as pd

In [2]:
annotations = sorted([
    'rkp',
    'rpjmn',
    'predikat',
    'pn',
    'datain',
    'sasaran'
])

dftagged = pd.read_csv('text_tagged.csv')

In [3]:
dftagged.dropna(inplace=True)

In [4]:
dftagged

         token_1 BIO_tag_1
0    Pembangunan         o
2        ekonomi         o
4          tahun         o
6           2023         o
8           akan         O
..           ...       ...
475        rpjmn   b-rpjmn
477      rencana   b-rpjmn
479  pembangunan   i-rpjmn
481       jangka   i-rpjmn
483     menengah   e-rpjmn

[247 rows x 2 columns]

In [5]:
train_data = convert_to_spaCyformat(dftagged, annotations)

In [6]:
train_data

['Pembangunanekonomitahun2023akandilaksanakanuntukmendukungprosestransformasiekonomisetelahpadatahunsebelumnyadihadapkanpadapemulihanekonomidanpenangananpandemiCOVID-19.Tahun2023merupakanmomentumuntukmenciptakanhorizonbarupembangunandenganmenekankanpadastrategimewujudkanSDMberdayasaingproduktivitassektorekonomiekonomihijautransformasidigitalintegrasiperekonomiandomestikdanpemindahanIKNProsestransformasiekonomiyangdilaksanakanolehsektorenergisumberdayaairUMKMpariwisatapertanianindustriperdagangankeuangandanakanyangdanuntukdapatmencapaisasaranpembangunannasional.UntukmendukungpemenuhankebutuhanenergidenganmengutamakanpeningkatanEnergiBaruTerbarukan(EBT)tantanganyangdihadapiterkaitfokusproduktivitasadalahtingginyaketergantunganterhadapenergifosilyangproduktivitasnyasemakinmenurundanberkontribusiterhadapdefisitperdagangandannilaitransaksiberjalanyangturutmenurunkanpotensipertumbuhanekonominasional.Tantanganyangterkaitfokuspembangunanberkelanjutanadalah(1)pengembanganEBTmasihterkendaladenganbelumkompetitifnyahargajualdan(2)pengembanganEBTberbasiskelapasawitmasihbersinggungandenganisukonservasidankeberlanjutan.Adapuntantanganyangterkaitfokusinklusifyaitu(1)kebijakansubsididaninsentifyangbelumoptimal(2)kondisikelistrikanyangover-supplydibeberapadaerahsementaraaksesmasyarakatdaerahtertinggalpadaenergikhususnyaEBTskalakecilmasihsangatterbatasdenganadanyaketerbatasankewenanganpemerintahdaerahdan(3)faktorintermittencedaribeberapateknologiPembangkitListrikTeknologi(PLT)EBT.Indikatortargetsasaranprioritasnasionalrencanakerjapemerintahrkprpjmnrencanapembangunanjangkamenengah',
 {'entities': [(538, 545, 'sasaran'),
   (632, 652, 'datain'),
   (653, 656, 'datain'),
   (975, 978, 'datain'),
   (1044, 1047, 'datain'),
   (1321, 1324, 'datain'),
   (1480, 1483, 'datain'),
   (1484, 1493, 'predikat'),
   (1493, 1499, 'predikat'),
   (1499, 1506, 'sasaran'),
   (1506, 1523, 'pn'),
   (1523, 1545, 'rkp'),
   (1545, 1548, 'rkp'),
   (1548, 1553, 'rpjmn'),
   (1553, 1585, 'rpjmn')]}]

In [7]:
from train_spacy import train_spacy

In [8]:
model, loss = train_spacy([train_data], 100) # using 100 iterations

# we'd like to plot loss
from matplotlib import pyplot as plt

# plotting loss
plt.figure(figsize=(12,8))
plt.plot([i['ner'] for i in loss])
plt.grid()
plt.title('Loss Function')
plt.xlabel('Epoch')
plt.ylabel('Loss')
plt.show()

Starting iteration 0

ValueError: [E989] `nlp.update()` was called with two positional arguments. This may be due to a backwards-incompatible change to the format of the training data in spaCy 3.0 onwards. The 'update' function should now be called with a batch of Example objects, instead of `(text, annotation)` tuples.